**/*.log
**/target
/.idea

.settings
.classpath
.project
.metadataABC
.recommenders

**/node_modules
**/npm-debug.log*
**/yarn-error.log*

.git
.gitignore
.gitattributes

.mvn/wrapper/maven-wrapper.jar

ui